.callout {
	max-width: 400px;
    margin: 10px;
    padding: 15px;
    border: 1px solid rgba(0,0,0,.1);
    background-color: rgb(29, 84, 143);
    color: white;
}

.callout img {
	float: right;
    margin: 20px;
    border: 3px solid rgb(222, 222, 222);
    background-color: black;
    padding: 2px;
    width: 100px;
    height: 100px;
}

blockquote {
	margin: 30px;
}

cite {
	display: block;
    border-top: 1px dashed white;
    padding-top: 3px;
    text-align: right;
    font-style: italic;
    font-weight: bolder;
    font-size: smaller;
}